command script import /opt/homebrew/Cellar/chisel/2.0.1/libexec/fblldb.py

# Print an autolayout trace
command alias at expr -l objc -o -- [[UIWindow keyWindow] _autolayoutTrace]

# Print all the views in the window
command regex rd 's/^[[:space:]]*$/expr -l objc -o -- [[[UIApplication sharedApplication] keyWindow] recursiveDescription]/' 's/^(.+)$/expr -l objc -o -- [%1 recursiveDescription]/'
